body {
  background-color: #000;
  height: calc(100vh - 6px);
  /* border: 3px solid #333; */
  --smooth-gray: #1e1e1e;
}

* {
  color: #fff;
  margin: 0;
  padding: 0;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: calc(100% - 6px);
  height: calc(100% - 3px);
  /* background-color: blue; */
  height: fit-content;
  border-right: 3px solid var(--smooth-gray);
  border-left: 3px solid var(--smooth-gray);
  border-bottom: 3px solid var(--smooth-gray);
}

#title-bar {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100vw;
  margin: 0;
  background: var(--smooth-gray);
}

#title-bar button {
  padding: 5px 5px;
  background-color: var(--smooth-gray);
  width: 20vw;
  max-width: 50px;
  margin: 0;
  border: none;
  font-size: large;
  cursor: pointer;
}

.tbar-other-btns:hover {
  background-color: #444 !important;
  transition: 0.5s;
}
#title-bar button:active {
  background-color: #666;
  transition: 0.5s;
}

#close:hover {
  background-color: rgb(169, 0, 0) !important;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* .container > * {
  border: 1px dotted grey;
} */

#titlebar {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.clock {
  flex: 1 1 auto;
}

.zoom-bar {
  flex: 0 1 auto;
}
